body {
	background-color:#000;
	color:white;
	font-family:Verdana;
}

#box {
	width:500px;
	height:500px;
	background-color:#001;
	border-style:solid;
	border-color:white;
	border-radius:10px;
	margin:auto;
	text-align:center;
}

li {
	text-align:left;
}